
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.game-screen {
    width: 300px;
    text-align: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 8px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.message {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.average {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}