.timer {
    font-size: 64px;
    margin: 20px 0;
    font-family: 'Press Start 2P', cursive;
}

.result {
    font-size: 24px;
    margin-top: 20px;
}

button {
    font-size: 24px;
    margin-top: 20px;
    padding: 10px 20px;
    background: none;
    border-radius: 5px;
}